@font-face {
  font-family: "jetbrains mono";
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "jetbrains mono";
  src: url("../fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
